{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/forget_pass.css' %}">
    <title>Forgot_Password</title>
    
	<!-- Favicon -->
	<link href="logofinallight.png" rel="shortcut icon" />

</head>

<body>
    <div class="box">

        <h3>Forget&nbsp;&nbsp;Password</h3>
        <form method="POST">
            <div>
                <input type="email" name="" required="" autocomplete="off">
                <label>E-Mail</label>
            </div>
            <div>
                <input type="text" name="" required="" autocomplete="off" maxlength="10">
                <label>Mobile Number</label>
            </div>
            <h5>Please !Enter the above Credential..</h5>
            <input type="submit" formaction="afterforgot.html" formtarget="_top" name="" value="Submit">
            <h5 class="forget_pass"><a href="login_form.html">Student Login!</a></h5>
            <h5><a href="index.html"> Back to Home Page!</a></h5>

        </form>
    </div>
</body>

</html>