{% extends 'home/master.html' %}
{% load static %}
     {% block title %} HOME {% endblock title %}    
     {% block homedisable %} style="opacity:0.9;pointer-event:none;cursor: default;font-size:1.1rem;"     {% endblock homedisable %}
    <!-- Start Home -->
{% block homeactive %}active{% endblock homeactive %}
{% block maincontent %}
    <section class="home">
        <div class="container">
            <div class="row full-screen">
                <div class="home-content">
                    <span class="block">
                        <h6 class=" disable-select">Welcome to <a href="" class="logo-home">
                                <p>AjTechLearnS </p>
                            </a>
                        </h6>
                        <h1 class=" disable-select">Learn,Think <img class="Booklogohome"
                                src="{% static 'img/Bookinlogo_for_light_bg.svg' %}" alt="&">
                            Create !</h1>
                        <h3>Explore your ways to Learn !</h3>

                        <span class="cv-btn  disable-select">
                            <a href="login/login" class="enroll_free">Enroll for Free</a>
                            <a href="" class="Start_learning">Start Learning</a>
                        </span>
                    </span>
                </div>
                <span><img class="boy-image" src="{% static 'img/advance_feature_img_with_shadow.svg' %}" alt=""></span>
            </div>
        </div>
    </section>


    <!-- End Home -->

    <div>
        <hr class="line">
    </div>

    <!--Start About Section -->
    <!-- <section class='about-section' id="about">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h1>About</h1>
                </div>

            </div> -->
    <!-- <span><img class="banner-img" src="/images/banner_img.svg" alt=""></span> -->

    <!-- Cards with carousel -->
    <!-- <div class="card-body">
                <div class="blog-card">
                    <input type="radio" name="select" id="tap-1" checked>
                    <input type="radio" name="select" id="tap-2">
                    <input type="radio" name="select" id="tap-3">
                    <input type="checkbox" id="imgTap">
                    <div class="sliders">
                        <label for="tap-1" class="tap tap-1"></label>
                        <label for="tap-2" class="tap tap-2"></label>
                        <label for="tap-3" class="tap tap-3"></label>
                    </div>
                    <div class="inner-part">
                        <label for="imgTap" class="img">
                            <img class="img-1" src="/images/advance_feature_img_with_shadow.svg">
                        </label>
                        <div class="content content-1">
                            <span>26 December 2017</span>
                            <div class="title">Lorem Ipsum Dolor</div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo animi
                                atque aliquid pariatur voluptatem numquam, quisquam. Neque est voluptates doloribus!
                            </div>
                            <button>Read more</button>
                        </div>
                    </div>
                    <div class="inner-part">
                        <label for="imgTap" class="img">
                            <img class="img-2" src="/images/banner_img.svg">
                        </label>
                        <div class="content content-2">
                            <span>26 December 2018</span>
                            <div class="title">Lorem Ipsum Dolor</div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eos ut
                                consectetur numquam ullam fuga animi laudantium nobis rem molestias.</div>
                            <button>Read more</button>
                        </div>
                    </div>
                    <div class="inner-part">
                        <label for="imgTap" class="img">
                            <img class="img-3" src="/images/Bookinlogo_for_light_bg.svg">
                        </label>
                        <div class="content content-3">
                            <span>26 December 2019</span>
                            <div class="title">Lorem Ipsum Dolor</div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod excepturi
                                nemo commodi sint eum ipsam odit atque aliquam officia impedit.</div>
                            <button>Read more</button>
                        </div>
                    </div>
                </div>

            </div> -->
    <!-- Card End -->


    <!-- </section> -->
    <!-- About Section End -->
    <!-- <div>
        <hr class="line">
    </div> -->
    <!--Start Explore Section -->
    <!-- <section class='explore-section' id="explore">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h1>Explore</h1>
                </div>

            </div> -->
    <!-- <span><img class="banner-img" src="/images/banner_img.svg" alt=""></span> -->



    <!--
            <div class="disable-select">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, reiciendis voluptas. Ipsum, tempore
                molestias! Beatae adipisci earum odio quam similique voluptas? Nobis quo nisi repellat neque eveniet
                mollitia nostrum veritatis!
            </div> -->

    <!-- </section>
    <div>
        <hr class="line">
    </div> -->
    <!-- About Section End -->




 


    <!-- <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="pace.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-bez@1.0.11/src/jquery.bez.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
<script>

    paceOptions = {
    ajax: true,
    document: true,
    eventLag: false
    };

    Pace.on('done', function() {
    $('.p').delay(1000).animate({top: '30%', opacity: '0'}, 3000, $.bez([0.19,1,0.22,1]));


    $('#preloader').delay(1000).animate({top: '-100%'}, 2000, $.bez([0.19,1,0.22,1]));

    TweenMax.from(".title", 2, {
         delay: 1.8,
              y: 10,
              opacity: 0,
              ease: Expo.easeInOut
        })
   });

  </script> -->


    <div class="about-container">

        <figure class="author-img">
            <img src="/images/aj.jpg" alt="Aadish Jain IMAGE">
        </figure>
        <h2 class="name">Aadish Jain</h2>
        <h3 class="occupation">Web Developer & FreeLancer</h3>
        <p class="author-detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure deleniti doloribus
            placeat ducimus quam voluptatibus porro expedita, rerum nesciunt architecto fugiat qui, voluptas error neque
            autem optio explicabo laborum aspernatur.</p>
        <div class="social-follow">
            <a href="#" class="fixed-facebook" target="_blank"><i class="fa fa-facebook"></i> </a>
            <a href="#" class="fixed-facebook" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="#" class="fixed-facebook" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" class="fixed-facebook" target="_blank"><i class="fa fa-youtube-play"></i></a>
        </div>
        <!-- <div class="aboutsite"></div>
    <div class="gotoabout"></div> -->
    </div>


{% endblock maincontent %}