{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/Title_logo.jpg' %}">
    <title class="titl">Welcome To AjTechLearnS !</title>
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
    <link rel="stylesheet" href="/css/about.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- <script src="pace.js"></script> -->
        <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>

    <!-- Preloader Start -->
    <div class="container0" id="preloader">
        <div class="loader loader1"></div>
        <div class="brand-name-loader  disable-select">
            <a href="#" class="logo" style="text-decoration: none;">
                <p class="purple">Aj</p>
                <p class="red">Tech</p>
                <p class="green">Learn</p>
                <p class="blue">S</p>
                <p class="blue">.</p>
                <p class="blue">.</p>
                <p class="blue">.</p>
            </a>
        </div>
    </div>
    <!-- Preloader End -->
    
{% comment %} message display {% endcomment %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>Message: </strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% comment %}  message display {% endcomment %}

    <!--Background circle on Navabar  -->
    <div class="home-page-circle-1"></div>
    <!-- Background circle on Navabar End -->

    <!-- Background circle on Boy-Image -->
    <div class="home-page-circle-2"></div>
    <!-- Background circle on Boy-Image End -->

    <!-- Near Start Learning Button -->
    <div class="home-page-circle-3"></div>
    <!-- Near Start Learning Button End-->

    <!-- Circle Below Logo -->
    <div class="home-page-circle-4"></div>
    <!-- Below Logo End -->

    <!-- Circle Between Boy-image and Navbar -->
    <div class="home-page-circle-5"></div>
    <!-- Circle Between Boy-image and Navbar End -->


    <!-- Start Header -->
    <header id="navbar">
        <div class="container">
            <div class="row">
                <div class="brand-name  disable-select">
                    <a href="" class="logo">
                        <p class="purple">Aj</p>
                        <p class="red">Tech</p>
                        <p class="green">Learn</p>
                        <p class="blue">S</p>
                    </a>
                </div>
                <div class="navbar disable-select">
                    <ul>
                        <li><a href="" class="active">Home</a></li>
                        <li><a href="about/">About</a></li>
                        <li><a href="#explore">Explore</a></li>
                        
                        <li><a href="contact/">Contact</a></li>
                        <li><a href="blog/">Blog</a></li>
                        {% comment %} <li><a href="/">Blog</a></li> {% endcomment %}
                        <!-- <li> <a href="" class="dropbtn dropdown">Dropdown
                                <i class="fa fa-caret-down"></i>
                            </a></li>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                             </div> -->
                             
                        {% if user.is_authenticated %}
                        <li><a href="#" style="color:white;font-size: 20px;" >{{user.username}}</a>
                        <!-- <i class="fa fa-caret-down"></i> -->
                        </li>
                        <li><a href="logout/">Log Out</a></li>

                        {% else %}

                        <li><a href="login/login">LogIn</a></li>
                        <li><a href="signup/signup">SignUp</a></li>

                        {% endif %}
    {% comment %} {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %} {% endcomment %}
                        {% comment %} <li><a href="#theme">Theme</a></li>
                        <li><a href="#blog">Blog</a></li> {% endcomment %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->

    <!-- Start Home -->

    <section class="home">
        <div class="container">
            <div class="row full-screen">
                <div class="home-content">
                    <span class="block">
                        <h6 class=" disable-select">Welcome to <a href="" class="logo-home">
                                <p>AjTechLearnS </p>
                            </a>
                        </h6>
                        <h1 class=" disable-select">Learn,Think <img class="Booklogohome"
                                src="{% static 'img/Bookinlogo_for_light_bg.svg' %}" alt="&">
                            Create !</h1>
                        <h3>Explore your ways to Learn !</h3>

                        <span class="cv-btn  disable-select">
                            <a href="login/login" class="enroll_free">Enroll for Free</a>
                            <a href="" class="Start_learning">Start Learning</a>
                        </span>
                    </span>
                </div>
                <span><img class="boy-image" src="{% static 'img/advance_feature_img_with_shadow.svg' %}" alt=""></span>
            </div>
        </div>
    </section>
    <!-- Fixed Social Icons -->
    <div id="fixed-social">
        <div>
            <a href="https://www.facebook.com/" class="fixed-facebook" target="_blank"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
        </div>
        <div>
            <a href="https://www.instagram.com/" class="fixed-instagram" target="_blank"><i class="fa fa-instagram"></i>
                <span>Instagram</span></a>
        </div>
        <div>
            <a href="https://www.twitter.com/" class="fixed-twitter" target="_blank"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
        </div>
        <div>
            <a href="https://www.youtube.com/" class="fixed-youtube" target="_blank"><i class="fa fa-youtube-play"></i><span>Youtube</span></a>
        </div>

        <div>
            <a href="https://www.linkedin.com/" class="fixed-linkedin" target="_blank"><i class="fa fa-linkedin"></i> <span>LinkedIn</span></a>
        </div>
        <div>
            <a href="https://www.github.com/" class="fixed-github" target="_blank"><i class="fa fa-github"></i> <span>Github</span></a>
        </div>


    </div>
    <!-- Fixed Social Icons End -->

    <!-- End Home -->

    <div>
        <hr class="line">
    </div>

    <!--Start About Section -->
    <!-- <section class='about-section' id="about">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h1>About</h1>
                </div>

            </div> -->
    <!-- <span><img class="banner-img" src="/images/banner_img.svg" alt=""></span> -->

    <!-- Cards with carousel -->
    <!-- <div class="card-body">
                <div class="blog-card">
                    <input type="radio" name="select" id="tap-1" checked>
                    <input type="radio" name="select" id="tap-2">
                    <input type="radio" name="select" id="tap-3">
                    <input type="checkbox" id="imgTap">
                    <div class="sliders">
                        <label for="tap-1" class="tap tap-1"></label>
                        <label for="tap-2" class="tap tap-2"></label>
                        <label for="tap-3" class="tap tap-3"></label>
                    </div>
                    <div class="inner-part">
                        <label for="imgTap" class="img">
                            <img class="img-1" src="/images/advance_feature_img_with_shadow.svg">
                        </label>
                        <div class="content content-1">
                            <span>26 December 2017</span>
                            <div class="title">Lorem Ipsum Dolor</div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo animi
                                atque aliquid pariatur voluptatem numquam, quisquam. Neque est voluptates doloribus!
                            </div>
                            <button>Read more</button>
                        </div>
                    </div>
                    <div class="inner-part">
                        <label for="imgTap" class="img">
                            <img class="img-2" src="/images/banner_img.svg">
                        </label>
                        <div class="content content-2">
                            <span>26 December 2018</span>
                            <div class="title">Lorem Ipsum Dolor</div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eos ut
                                consectetur numquam ullam fuga animi laudantium nobis rem molestias.</div>
                            <button>Read more</button>
                        </div>
                    </div>
                    <div class="inner-part">
                        <label for="imgTap" class="img">
                            <img class="img-3" src="/images/Bookinlogo_for_light_bg.svg">
                        </label>
                        <div class="content content-3">
                            <span>26 December 2019</span>
                            <div class="title">Lorem Ipsum Dolor</div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod excepturi
                                nemo commodi sint eum ipsam odit atque aliquam officia impedit.</div>
                            <button>Read more</button>
                        </div>
                    </div>
                </div>

            </div> -->
    <!-- Card End -->


    <!-- </section> -->
    <!-- About Section End -->
    <!-- <div>
        <hr class="line">
    </div> -->
    <!--Start Explore Section -->
    <!-- <section class='explore-section' id="explore">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h1>Explore</h1>
                </div>

            </div> -->
    <!-- <span><img class="banner-img" src="/images/banner_img.svg" alt=""></span> -->



    <!--
            <div class="disable-select">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, reiciendis voluptas. Ipsum, tempore
                molestias! Beatae adipisci earum odio quam similique voluptas? Nobis quo nisi repellat neque eveniet
                mollitia nostrum veritatis!
            </div> -->

    <!-- </section>
    <div>
        <hr class="line">
    </div> -->
    <!-- About Section End -->




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        setTimeout(function () {
            $('.container0').fadeToggle();
        }, 2200);
    </script>


    <!-- <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="pace.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-bez@1.0.11/src/jquery.bez.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
<script>

    paceOptions = {
    ajax: true,
    document: true,
    eventLag: false
    };

    Pace.on('done', function() {
    $('.p').delay(1000).animate({top: '30%', opacity: '0'}, 3000, $.bez([0.19,1,0.22,1]));


    $('#preloader').delay(1000).animate({top: '-100%'}, 2000, $.bez([0.19,1,0.22,1]));

    TweenMax.from(".title", 2, {
         delay: 1.8,
              y: 10,
              opacity: 0,
              ease: Expo.easeInOut
        })
   });

  </script> -->


    <div class="about-container">

        <figure class="author-img">
            <img src="/images/aj.jpg" alt="Aadish Jain IMAGE">
        </figure>
        <h2 class="name">Aadish Jain</h2>
        <h3 class="occupation">Web Developer & FreeLancer</h3>
        <p class="author-detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure deleniti doloribus
            placeat ducimus quam voluptatibus porro expedita, rerum nesciunt architecto fugiat qui, voluptas error neque
            autem optio explicabo laborum aspernatur.</p>
        <div class="social-follow">
            <a href="#" class="fixed-facebook" target="_blank"><i class="fa fa-facebook"></i> </a>
            <a href="#" class="fixed-facebook" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="#" class="fixed-facebook" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" class="fixed-facebook" target="_blank"><i class="fa fa-youtube-play"></i></a>
        </div>
        <!-- <div class="aboutsite"></div>
    <div class="gotoabout"></div> -->
    </div>

</body>

</html>