{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/Title_logo.jpg' %}">
{% block head %}{% endblock head %}

    <title class="titl">  {% block title %} {% endblock title %}    </title>
    
    
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
    <link rel="stylesheet" href="/css/about.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- <script src="pace.js"></script> -->
        <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>

    <!-- Preloader Start -->
    <div class="container0" id="preloader">
        <div class="loader loader1"></div>
        <div class="brand-name-loader  disable-select">
            <a href="#" class="logo" style="text-decoration: none;">
                <p class="purple">Aj</p>
                <p class="red">Tech</p>
                <p class="green">Learn</p>
                <p class="blue">S</p>
                <p class="blue">.</p>
                <p class="blue">.</p>
                <p class="blue">.</p>
            </a>
        </div>
    </div>
    <!-- Preloader End -->
    
{% comment %} message display {% endcomment %}

{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>Message: </strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% comment %}  message display {% endcomment %}

    <!--Background circle on Navabar  -->
    <div class="home-page-circle-1"></div>
    <!-- Background circle on Navabar End -->

    <!-- Background circle on Boy-Image -->
    <div class="home-page-circle-2"></div>
    <!-- Background circle on Boy-Image End -->

    <!-- Near Start Learning Button -->
    <div class="home-page-circle-3"></div>
    <!-- Near Start Learning Button End-->

    <!-- Circle Below Logo -->
    <div class="home-page-circle-4"></div>
    <!-- Below Logo End -->

    <!-- Circle Between Boy-image and Navbar -->
    <div class="home-page-circle-5"></div>
    <!-- Circle Between Boy-image and Navbar End -->


    <!-- Start Header -->
    <header id="navbar">
        <div class="container">
            <div class="row">
                <div class="brand-name  disable-select">
                    <a href="" class="logo">
                        <p class="purple">Aj</p>
                        <p class="red">Tech</p>
                        <p class="green">Learn</p>
                        <p class="blue">S</p>
                    </a>
                </div>
                <div class="navbar disable-select">
                    <ul>
                        <li><a href="/" class=" {% block homeactive %}{% endblock homeactive %}" {% block homedisable %}
                        {% endblock homedisable %}>Home</a></li>
                        <li><a href="about/"class=" {% block aboutactive %}{% endblock aboutactive %}" {% block aboutdisable %}
                        {% endblock aboutdisable %}>About</a></li>
                        <li><a href="#explore"class=" {% block exploreactive %}{% endblock exploreactive %}" {% block exploredisable %}
                        {% endblock exploredisable %}>Explore</a></li>
                        <li><a href="/blog_page/"class=" {% block blog_pageactive %}{% endblock blog_pageactive %}" {% block blog_pagedisable %}
                        {% endblock blog_pagedisable %}>Blog_Page</a></li>
                        
                        {% comment %} <li><a href="contact/"class=" {% block contactactive %}{% endblock contactactive %}" {% block contactdisable %}
                        {% endblock contactdisable %}>Contact</a></li> {% endcomment %}
                        {% comment %} <li><a href="blog/"class=" {% block blogactive %}{% endblock blogactive %}" {% block blogdisable %}
                        {% endblock blogdisable %}>Blog</a></li> {% endcomment %}
                         
                        {% comment %} <li><a href="/">Blog</a></li> {% endcomment %}
                        <!-- <li> <a href="" class="dropbtn dropdown">Dropdown
                                <i class="fa fa-caret-down"></i>
                            </a></li>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                             </div> -->
                             
                        {% if user.is_authenticated %}
                        <li><a href="#" style="color:white;font-size: 20px;" class=" {% block useractive %}{% endblock useractive %}">{{user.username}}</a>
                        <!-- <i class="fa fa-caret-down"></i> -->
                        </li>
                        <li><a href="logout/">Log Out</a></li>

                        {% else %}

                        <li><a href="login/login">LogIn</a></li>
                        <li><a href="signup/signup">SignUp</a></li>

                        {% endif %}
                        <li><form method="get" action = "search/"class="form-inline my-2">
      <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search" name="query" id = "query">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form> </li>
    {% comment %} {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %} {% endcomment %}
                        {% comment %} <li><a href="#theme">Theme</a></li>
                        <li><a href="#blog">Blog</a></li> {% endcomment %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->

    <!-- Fixed Social Icons -->
    <div id="fixed-social">
        <div>
            <a href="https://www.facebook.com/" class="fixed-facebook" target="_blank"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
        </div>
        <div>
            <a href="https://www.instagram.com/" class="fixed-instagram" target="_blank"><i class="fa fa-instagram"></i>
                <span>Instagram</span></a>
        </div>
        <div>
            <a href="https://www.twitter.com/" class="fixed-twitter" target="_blank"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
        </div>
        <div>
            <a href="https://www.youtube.com/" class="fixed-youtube" target="_blank"><i class="fa fa-youtube-play"></i><span>Youtube</span></a>
        </div>

        <div>
            <a href="https://www.linkedin.com/" class="fixed-linkedin" target="_blank"><i class="fa fa-linkedin"></i> <span>LinkedIn</span></a>
        </div>
        <div>
            <a href="https://www.github.com/" class="fixed-github" target="_blank"><i class="fa fa-github"></i> <span>Github</span></a>
        </div>


    </div>
    <!-- Fixed Social Icons End -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        setTimeout(function () {
            $('.container0').fadeToggle();
        }, 2200);
    </script>
{% block maincontent %}
{% endblock maincontent %}
    </body>

</html>